<div class="container">
  <div class="formulario">
    <form [formGroup]="formulario" class="form form-group" (ngSubmit)="salvarAluno()">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="CPF" formControlName = "cpf" />
        </div>
        <div class="col">
            <input type="datetime" class="form-control" placeholder="Data Nascimento" formControlName = "dataNascimento"/>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nome" formControlName = "nome" />
        </div>

        <div class="col">
          <input type="text" class="form-control" placeholder="Sobrenome" formControlName = "sobreNome" />
        </div>
      </div>

      <div class="divBotao">
        <button class="btn botao">Cadastrar</button>
      </div>
      
    </form>
  </div>
</div>
