
.container img {
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.container2 {
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    color: white;
}

.divForm{
    background-image: url(../../assets/images/fundo.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-size: 100% 100%;
    
}
.formulario{
    height: 100%;
    padding: 10%;
}
.form{
    width: 85%;
    border-radius: 40px;
    border: 5px white solid;
    background-color: #27376a;    
}
.divTitulo{
    padding: 40px;
    text-align: center;
}
.titulo{
    color: white;
    font-size: 25px;
}
.labelNome{
    color: white;
    font-size: 20px;
}
.divRow{
    padding: 2%;
}
.divBotao{
    padding: 3% 4% 3% 4%;
}
.botao{
    background-color: white;
    color: #27376a;
    font-size: 25px;
}
.botao:hover{
    background-color: #27376a;
    color: white;
    border: 1px white solid;
    transition: 0.5s;
}