.login-page{
    background-image: url(../../assets/images/fundo.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    background-size: 100%;
}
.formulario{
    display: inline-table;    
    margin-top:9%;
    border-radius: 40px;
    border: 5px white solid;
    background-color: #27376a;
    padding: 1%;
    height: 40%;
    width: 50%; 
}

.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgLogin{
    width: 200px !important;
    height: 100px !important;
}

.titulo{
    font-size: 200%;
    color: white;
}

.formInput{
    display: flex;
    flex-direction: column;
}
.formTitulo{
    display: flex;
    justify-content: center;
    font-size: 150%;
    color: white;
    margin-bottom: 5px;
    margin-top: 20px;
}
.formCampo{
    height: 44px;
}

.divBotao{    
    display: flex;
    justify-content: center;
    align-content: center;
    height: 55px;
    margin-top: 2%;
}

.botao{
    background-color: #27376a;
    width: 17%;
    border-radius: 18px;
    color: white;
    border: 3px solid white;
}
.botao:hover{
    background-color: white;
    color: #27376a;
    border: 3px solid #27376a;
    transition: 0.8s;
}