<div class="login-page">
  <form div class="formulario" [formGroup]="formulario">
    <div class="cabecalho">
      <img class="imgLogin" src="../../assets/images/logo.png" />
      <h1 class="titulo">Escola Java Angular</h1>
    </div>

    <div class="formInput">
      <label class="formTitulo">Usuário</label>
      <input
        class="formCampo"
        type="text"
        placeholder="Usuário"
        formControlName="usuario"
      />
    </div>

    <div class="formInput">
      <label class="formTitulo">Senha</label>
      <input
        class="formCampo"
        type="password"
        placeholder="Senha"
        formControlName="senha"
      />
    </div>

    <div class="divBotao">
      <button class="botao" (click)="logar()">Logar</button>
    </div>
  </form>
</div>
