<div class="container">
  <form [formGroup]="formulario">
    <div class="row">
      <div class="col">
        <label>Usuário</label>
        <input type="text" class="form-control" placeholder="CPF" formControlName = "usuario" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="label labelNome">Data Nascimento</label>
          <input type="password" class="form-control" placeholder="Data Nascimento" formControlName = "senha"/>
        </div>
    </div>
    <div class="row">
      <button (click)="logar()">teste</button>
      <button (click)="teste()">ABC</button>
    </div>
  </form>
</div>