.tabela{
    margin-top: 20px;
    border: #27376a;
    border: 1px solid #27376a;
    width: 50%;
}
.tabela th{
    background-color: #27376a;
    color: white;
    padding: 10px;    
}
.tabela td{
    background-color: white;
    color: #27376a;
    padding: 10px;   
}
.divContainer{
    padding: 40px;
    height: 70vh;
    margin-top: 1px;
    display: table;
   
}
.divTabela{
    justify-content: center;
    display: flex;
   
}

.button {
    margin-top: 40px;
  }