.nav{
    background-color: #27376a;
    color: white;
}

img{
    height:100%;
    width: 100%;
}
.imagem{
    height:18%;
    width: 18%;
}
.padrao{
    margin-left: 30px;
    text-align: center;
    padding-top: 40px;
}
.login{
    background-color: white;
    color: #27376a;
}
.login:hover{    
    border: 1px solid white;
    background-color: #27376a;
    color: white;
}
