<div class="container">
    <div class="formulario">
      <div class="titulo">
        <h1>Atualizar alunos</h1>
      </div>
      <form [formGroup]="formulario" class="form form-group" (ngSubmit)="salvarAluno()">

        <div class="row">
          <div *ngIf="urlFoto; else loading">
            <img [src]="urlFoto" class="rounded mx-auto d-block divImagem" alt="...">
            <div class="btn botaoFoto mx-auto d-block">
              <label class="form-label m-1" for="customFile1">Selecione uma foto</label>
              <input type="file" class="form-control d-none" id="customFile1" (change)="carregaImagem($event)" />
          </div>
          </div>
          
          <ng-template #loading let-user>
            <div class="">
              <img src="../../../assets/images/sem foto.png" class="rounded mx-auto d-block divImagem" alt="...">
            </div>
            <div class="btn botaoFoto mx-auto d-block">
              <label class="form-label m-1" for="customFile1">Selecione uma foto</label>
              <input type="file" class="form-control d-none" id="customFile1" (change)="carregaImagem($event)" />
          </div>            
          </ng-template>  

        </div>


        <div class="row">
          <div class="col">
            <label class="label labelNome">Matricula</label>
            <input type="text" readonly class="form-control"  placeholder="Matricula" formControlName = "matricula" />
          </div>
          <div class="col">
            <label class="label labelNome">CPF</label>
              <input type="text" class="form-control"  placeholder="CPF" formControlName = "cpf"/>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="label labelNome">Nome</label>
            <input type="text" class="form-control"  placeholder="Nome" formControlName = "nome" />
          </div>
  
          <div class="col">
            <label class="label labelNome">Sobrenome</label>
            <input type="text" class="form-control"   placeholder="Sobrenome" formControlName = "sobreNome" />
          </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="label labelNome">Data Nascimento</label>
              <input type="date"  class="form-control"  placeholder="Data Nascimento" formControlName = "dataNascimento" />
            </div>
            <div class="col">
                <label class="label labelNome">Email</label>
                <input type="email" class="form-control"   readonly placeholder="Email" formControlName = "email"/>
              </div>
          </div>

          <div class="row">
            <div class="col">
                <label class="label labelNome">Ano</label>
              <input type="text" readonly class="form-control" placeholder="Ano" formControlName = "ano" />
            </div>
            <div class="col">
                <label class="label labelNome">Status</label>
                <select class="form-select"  aria-label="Default select example" formControlName = "status">
                  <option value="Ativo">Ativo</option>
                  <option value="Inativo">Inativo</option>
                </select>
              </div>
          </div>
        
  
        <div class="divBotao">
          <button class="btn botao" type="submit">Atualizar</button>
        </div>
        
      </form>
    </div>
  </div>
  