<div class="button">
  <app-button-back></app-button-back>
</div>
<div class="container divForm">

    <div class="formulario">
      <div class="titulo">
        <h1>{{titulo}}</h1>
      </div>
      <form [formGroup]="formulario" class="form form-group" (ngSubmit)="salvarAluno()">

        <div class="row">
          <div *ngIf="urlFoto; else loading">
            <img [src]="urlFoto" class="rounded mx-auto d-block divImagem" alt="...">
            <div class="btn botaoFoto mx-auto d-block">
              <label class="form-label m-1" for="customFile1">Selecione uma foto</label>
              <input type="file" class="form-control d-none" id="customFile1" (change)="carregaImagem($event)" />
          </div>
          </div>
          
          <ng-template #loading let-user>
            <div class="">
              <img src="../../../assets/images/sem foto.png" class="rounded mx-auto d-block divImagem" alt="...">
            </div>
            <div class="btn botaoFoto mx-auto d-block">
              <label class="form-label m-1" for="customFile1">Selecione uma foto</label>
              <input type="file" class="form-control d-none" id="customFile1" (change)="carregaImagem($event)" />
          </div>            
          </ng-template>  

        </div>


        <div class="row">
          <div class="col">
            <label class="label labelNome">Matricula</label>
            <input type="text" readonly class="form-control"  placeholder="Matricula" formControlName = "matricula" />
          </div>
          <div class="col">
            <label class="label labelNome">CPF</label>
              <input type="text" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"  placeholder="CPF" formControlName = "cpf"/>
              <ng-container *ngIf="formulario.controls.cpf.touched">
                <span *ngIf="formulario.controls.cpf.errors?.required || formulario.controls.cpf.errors?.minlength">
                  <div class="alert alert-danger" role="alert">
                    Por Favor preencha um CPF válido!
                  </div>
                </span>
              </ng-container>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="label labelNome">Nome</label>
            <input type="text" class="form-control" [readonly]="isReadOnly()"  placeholder="Nome" formControlName = "nome" />
            <ng-container *ngIf="formulario.controls.nome.touched">
              <span *ngIf="formulario.controls.nome.errors?.required">
                <div class="alert alert-danger" role="alert">
                  O campo nome é um campo obrigatório!
                </div>
              </span>
              <span *ngIf="formulario.controls.nome.errors?.minlength">
                <div class="alert alert-danger" role="alert">
                  O campo nome não tem a quantidade mínima de 3 caracteres!
                </div>
              </span>
              <span *ngIf="formulario.controls.nome.errors?.maxlength">
                <div class="alert alert-danger" role="alert">
                  O campo nome ultrapassou o limite máximo de 50 caracteres!
                </div>
              </span>
            </ng-container>
          </div>
  
          <div class="col">
            <label class="label labelNome">Sobrenome</label>
            <input type="text" class="form-control" [readonly]="isReadOnly()"   placeholder="Sobrenome" formControlName = "sobreNome" />
            <ng-container *ngIf="formulario.controls.sobreNome.touched">
              <span *ngIf="formulario.controls.sobreNome.errors?.required">
                <div class="alert alert-danger" role="alert">
                  O campo sobrenome é um campo obrigatório!
                </div>
              </span>
              <span *ngIf="formulario.controls.sobreNome.errors?.minlength">
                <div class="alert alert-danger" role="alert">
                  O campo sobrenome não tem a quantidade mínima de 3 caracteres!
                </div>
              </span>
              <span *ngIf="formulario.controls.sobreNome.errors?.maxlength">
                <div class="alert alert-danger" role="alert">
                  O campo sobrenome ultrapassou o limite máximo de 50 caracteres!
                </div>
              </span>
            </ng-container>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="label labelNome">Data Nascimento</label>
              <input type="date"  class="form-control" [readonly]="isReadOnly()"  placeholder="Data Nascimento" formControlName = "dataNascimento" />
              <ng-container *ngIf="formulario.controls.dataNascimento.touched">
                <span *ngIf="formulario.controls.dataNascimento.errors?.required">
                  <div class="alert alert-danger" role="alert">
                    Data de nascimento é um campo obrigatório!
                  </div>
                </span>
              </ng-container>
            </div>
            <div class="col">
                <label class="label labelNome">Email</label>
                <input type="email" class="form-control" [readonly]="isReadOnly()"  placeholder="Email" formControlName = "email"/>
                <ng-container *ngIf="formulario.controls.email.touched">
                  <span *ngIf="formulario.controls.email.errors?.required">
                    <div class="alert alert-danger" role="alert">
                      O campo email é um campo obrigatório!
                    </div>
                  </span>
                  <span *ngIf="formulario.controls.email.errors?.email">
                    <div class="alert alert-danger" role="alert">
                      O campo email não apresenta o padrão correto!
                    </div>
                  </span>
                  <span *ngIf="formulario.controls.email.errors?.maxlength">
                    <div class="alert alert-danger" role="alert">
                      O campo email ultrapassou o limite máximo de 100 caracteres!
                    </div>
                  </span>
                </ng-container>
              </div>
          </div>

          <div class="row">
            <div class="col">
                <label class="label labelNome">Ano</label>
              <input type="text" readonly class="form-control" [readonly]="isReadOnly()" placeholder="Ano" formControlName = "ano" />
              <ng-container *ngIf="formulario.controls.ano.touched">
                <span *ngIf="formulario.controls.ano.errors?.required">
                  <div class="alert alert-danger" role="alert">
                    O campo ano é um campo obrigatório!
                  </div>
                </span>
                <span *ngIf="formulario.controls.ano.errors?.min">
                  <div class="alert alert-danger" role="alert">
                    O campo ano só possui as opções 1, 2 ou 3!
                  </div>
                </span>
                <span *ngIf="formulario.controls.ano.errors?.max">
                  <div class="alert alert-danger" role="alert">
                    O campo ano só possui as opções 1, 2 ou 3!
                  </div>
                </span>
              </ng-container>
            </div>
            <div class="col" >
                <label class="label labelNome" *ngIf="!isReadOnly()">Status</label>
                <select class="form-select"  aria-label="Default select example" formControlName = "status" *ngIf="!isReadOnly()">
                  <option value="Ativo">Ativo</option>
                  <option value="Inativo">Inativo</option>
                </select>
                <ng-container *ngIf="formulario.controls.status.touched">
                  <span *ngIf="formulario.controls.status.errors?.required">
                    <div class="alert alert-danger" role="alert">
                      O campo status é um campo obrigatório!
                    </div>
                  </span>
                </ng-container>
              </div>
          </div>
        
  
        <div class="divBotao">
          <button class="btn botao" type="submit" [disabled]="!formulario.valid">Atualizar</button>
        </div>
        
      </form>
    </div>
  </div>

  