<div class="container divContainer">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col btn colHover" [routerLink]="['buscar']"  *ngIf="pessoa.cargo === 'Professor' || pessoa.cargo === 'Admin'">
      <div class="card h-100">
        <img src="../../../../assets/images/notas buscar.png">
        <div class="card-body">
          <div class="card-body cards">
            <h5 class="card-title texto">Filtrar notas</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col btn colHover" [routerLink]="['cadastrar']" *ngIf="pessoa.cargo === 'Professor' || pessoa.cargo === 'Admin'">
      <div class="card h-100">
        <img src="../../../../assets/images/notas.png" class="card-img-top imagem">
        <div class="card-body">
          <div class="card-body cards">
            <h5 class="card-title texto">Cadastro de notas</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col btn colHover" [routerLink]="['minhasAulas']">
      <div class="card h-100">
        <img src="../../../../assets/images/notas minhas.png" class="card-img-top imagem">
        <div class="card-body">
          <div class="card-body cards">
            <h5 class="card-title texto">Minhas notas</h5>
          </div>
      </div>
    </div>
  </div>
</div>
