<div class="button">
  <app-button-back></app-button-back>
</div>
<div class="container divForm">
    <div class="formulario">
      <div class="titulo">
        <h1>Alteração de aulas</h1>
      </div>
      <form class="form form-group" [formGroup]="formulario">
        <div class="row">
          <div class="col">
            <label class="label labelNome">Turma</label>
            <select class="form-select" aria-label="Default select example"  formControlName = "turma">
              <option value="null" selected disabled>Selecione uma turma</option>
              <option *ngFor="let tur of turma" [ngValue]="tur.id">{{ tur.numero }}</option>
            </select>
            <ng-container *ngIf="formulario.controls.turma.touched">
              <span *ngIf="formulario.controls.turma.errors?.required">
                <div class="alert alert-danger" role="alert">
                  O campo turma é um campo obrigatório!
                </div>
              </span>
            </ng-container>
          </div>
          <div class="col">
            <label class="label labelNome">Matéria</label>
            <select class="form-select" aria-label="Default select example" formControlName = "materia">
              <option value="null" selected disabled>Selecione uma matéria</option>
              <option *ngFor="let mat of materias"  [ngValue]="mat.id">{{ mat.nome }}</option>
            </select>
            <ng-container *ngIf="formulario.controls.materia.touched">
              <span *ngIf="formulario.controls.materia.errors?.required">
                <div class="alert alert-danger" role="alert">
                  O campo materia é um campo obrigatório!
                </div>
              </span>
            </ng-container>
        </div>
        </div>
        <div class="row">  
          <div class="col">
              <label class="label labelNome">Dia</label>
              <select class="form-select" [disabled]= "!formulario.valid" aria-label="Default select example" formControlName = "dia" (change)="atualizar(this.formulario.value.dia, this.formulario.value.sala)">
                <option value="null" selected disabled>Selecione um dias da semana</option>
                <option *ngFor="let dia of dias" [ngValue]="dia.id">{{ dia.nome }}</option>
              </select>
              <ng-container *ngIf="formulario.controls.dia.touched">
                <span *ngIf="formulario.controls.dia.errors?.required">
                  <div class="alert alert-danger" role="alert">
                    O campo dia é um campo obrigatório!
                  </div>
                </span>
              </ng-container>
          </div>
          <div class="col">
            <label class="label labelNome">Hora</label>
            <select class="form-select" aria-label="Default select example" formControlName = "hora">
              <option value="null" selected disabled>Selecione uma hora</option>
              <option *ngFor="let hora of horas" [ngValue]="hora.id">{{ hora.hora }}</option>
            </select>
            <ng-container *ngIf="formulario.controls.hora.touched">
              <span *ngIf="formulario.controls.hora.errors?.required">
                <div class="alert alert-danger" role="alert">
                  O campo hora é um campo obrigatório!
                </div>
              </span>
            </ng-container>
        </div>
        </div>
  
        <div class="divBotao">
          <button type="button" class="btn botao" (click)="cadastrar()">Atualizar</button>
        </div>
      </form>
    </div>
  </div>
  