<div class="container-home">
  <div class="content-home">
    <div
      class="card"
      *ngIf="pessoa.cargo === 'Professor' || pessoa.cargo === 'Admin'"
    >
      <div  [routerLink]="['/professores']">
        <img
          class="img-menu"
          src="../../assets/images/professor.jpg"
          alt="..."
        />
        <div class="title-card">
          <h5>Gerenciamento de professores</h5>
        </div>
      </div>
    </div>

    <div
      class="card"
      *ngIf="pessoa.cargo === 'Aluno' || pessoa.cargo === 'Admin'"
    >
      <div [routerLink]="['/alunos']">
        <img class="img-menu" src="../../assets/images/alunos.jpg" alt="..." />
        <div class="title-card">
          <h5>Gerenciamento de alunos</h5>
        </div>
      </div>
    </div>

    <div class="card">
      <div [routerLink]="['/escola']">
        <img class="img-menu" src="../../assets/images/escola.jpg" alt="..." />
        <div class="title-card">
          <h5>Gerenciamento das aulas</h5>
        </div>
      </div>
    </div>
  </div>
</div>
