<div class="container margin">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col colHover" *ngIf="pessoa.cargo === 'Professor' || pessoa.cargo === 'Admin'" >
      <div class="card h-100 btn" [routerLink]="['/professores']">
        <img
          src="../../assets/images/professor.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body cards">
          <h5 class="card-title texto">Professores</h5>
          <p class="card-text">
           Gerenciamento de professores
          </p>
        </div>
      </div>
    </div>
    <div class="col colHover">
      <div class="card h-100 btn"  [routerLink]="['/alunos']" *ngIf="pessoa.cargo === 'Aluno' || pessoa.cargo === 'Admin'">
        <img
          src="../../assets/images/alunos.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body cards">
          <h5 class="card-title texto">Alunos</h5>
          <p class="card-text">
            Gerenciamento de alunos
          </p>
        </div>
      </div>
    </div>
    <div class="col colHover">
      <div class="card h-100 btn"  [routerLink]="['/escola']">
        <img
          src="../../assets/images/escola.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body cards">
          <h5 class="card-title texto">Escola</h5>
          <p class="card-text">
            Gerenciamento das aulas
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
