<div class="container margin">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col colHover">
      <div class="card h-100 btn">
        <img
          src="../../assets/images/professor.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body cards">
          <h5 class="card-title texto">Professores</h5>
          <p class="card-text">
           Gerenciamento de professores
          </p>
        </div>
      </div>
    </div>
    <div class="col colHover">
      <div class="card h-100 btn">
        <img
          src="../../assets/images/alunos.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body cards">
          <h5 class="card-title texto">Alunos</h5>
          <p class="card-text">
            Gerenciamento de alunos
          </p>
        </div>
      </div>
    </div>
    <div class="col colHover">
      <div class="card h-100 btn">
        <img
          src="../../assets/images/notas.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body cards">
          <h5 class="card-title texto">Notas</h5>
          <p class="card-text">
            Gerenciamento de notas
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
