.divContainer{
    height: 70vh;
    padding: 2%;
}
.divCards{
    height: auto;
    color: black;
    display: flex;
    justify-content: center;

}
.colHover{
    padding: 1%;
    min-height: 30%;
    width: 30%;
}
.imagem{
    height:80%;
}
.divBtn{
    height: 100%;
}
.cards{
    background-color: #27376a;
    color: white;
}
.colHover:hover{    
    background-color: #ADD8E6;
    transition: 1s;
}
.texto{
    text-align: center;
    font-size: 17px;
}