<div class="container divContainer">
    <div class="row row-cols-1 row-cols-md-3 g-4 divCards">
      <div class="col btn colHover" [routerLink]="['buscar']" >
        <div class="card h-100">
          <img src="../../../assets/images/turma-buscar.png" class="card-img-top imagem">
          <div class="card-body">
            <div class="card-body cards">
              <h5 class="card-title texto">Buscar turmas</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col btn colHover" [routerLink]="['cadastrar']">
        <div class="card h-100">
          <img src="../../../assets/images/turma-save.png" class="card-img-top imagem">
          <div class="card-body">
            <div class="card-body cards">
              <h5 class="card-title texto">Cadastro de turmas</h5>
            </div>
          </div>
        </div>
      </div>
  </div>
  