<div class="button">
  <app-button-back></app-button-back>
</div>
<div class="container-home">
  <div class="content-home">
    <div
    class="card"
    [routerLink]="['buscar']"
    >
      <div >
        <img
          class="img-menu"
          src="../../../assets/images/turma-buscar.png"
          alt="..."
        />
        <div class="title-card">
          <h5>Buscar turmas</h5>
        </div>
      </div>
    </div>

    <div
    class="card"
    [routerLink]="['cadastrar']"
    >
      <div >
        <img class="img-menu" src="../../../assets/images/turma-save.png" alt="..." />
        <div class="title-card">
          <h5>Cadastro de turmas</h5>
        </div>
      </div>
    </div>

    
</div>
