.button-back {
  margin-top: 40px;
}

.formulario {
  padding: 1%;
  justify-content: center;
}
.divContainer {
  height: 70vh;
  margin-bottom: 1px;
  padding: 1%;
}
.tabela {
  margin-top: 10px;
  border: #27376a;
  border: 1px solid #27376a;
}
.tabela th {
  background-color: #27376a;
  color: white;
  padding: 10px;
}
.tabela td {
  background-color: white;
  color: #27376a;
  padding: 10px;
}
.button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: #27376a;
  color: white;
}
.button:hover {
  transition: 1s;
  background-color: white;
  color: #27376a;
  border: 1px solid #27376a;
}
.imagemTd {
  height: 10px;
}

.itemBotao {
  background-color: #27376a;
  color: white;
}

.itemBotao:hover {
  background-color: white;
  color: #27376a;
  border: 1px solid #27376a;
}
