<div class="container divForm">
  <div class="formulario">
    <div class="titulo">
      <h1>Alteração de notas</h1>
    </div>
    <form class="form form-group" [formGroup]="formulario">
      <div class="row">
        <div class="col">
          <label class="label labelNome">Turma</label>
          <input
            type="text"
            class="form-control"
            readonly
            placeholder="Turma"
            formControlName="turma"
          />
        </div>
        <div class="col">
          <label class="label labelNome">Matéria</label>
          <input
            type="text"
            class="form-control"
            readonly
            placeholder="Matéria"
            formControlName="materiaNome"
          />
        </div>
      </div>
      <div class="row"></div>
      <div class="row">
        <div class="col">
          <label class="label labelNome">Aluno</label>
          <input
            type="text"
            class="form-control"
            placeholder="Aluno"
            readonly
            formControlName="matriculaNome"
          />
        </div>
     
      <div class="col">
        <label class="label labelNome">Nota</label>
        <input
          type="number"
          class="form-control"
          placeholder="Nota"
          formControlName="nota"
          min="0" max="10" step="0.1"
        />
        <ng-container *ngIf="formulario.controls.nota.touched">
          <span *ngIf="formulario.controls.nota.errors?.required">
            <div class="alert alert-danger" role="alert">
              O campo ano é um campo obrigatório!
            </div>
          </span>
          <span *ngIf="formulario.controls.nota.errors?.min">
            <div class="alert alert-danger" role="alert">
              Preencha uma nota valida!
            </div>
          </span>
          <span *ngIf="formulario.controls.nota.errors?.max">
            <div class="alert alert-danger" role="alert">
              Preencha uma nota valida!
            </div>
          </span>
        </ng-container>
      </div>
    </div>

      <div class="divBotao">
        <button type="button" class="btn botao" (click)="atualizarNotas()" [disabled]="!formulario.valid">
          Alterar
        </button>
      </div>
    </form>
  </div>
</div>
