.margin{
    margin-top: 8%;
    margin-bottom: 8%;
}
.divRow{
    display: flex;
    justify-content: center;
    padding: 1%;
}

.texto{
    text-align: center;
}

.cards{
    background-color: #27376a;
    color: white;
}
.colHover:hover{
    background-color: #ADD8E6;
    transition: 1s;
}
.altura{
    height: 25%;
    width: 25%;
    margin-right: 2%;
}
