<div class="container margin">
   
    <div class="row row-cols-1 row-cols-md-1 g-4 t">

        <div class="col altura btn colHover" [routerLink]="['buscar']"  *ngIf="pessoa.cargo === 'Admin'">
          <div class="card">
            <img src="../../../assets/images/professor buscar.jpg">
            <div class="card-body cards">
              <h5 class="card-title texto">Buscar professor</h5>
            </div>
          </div>
        </div>

        <div class="col altura btn colHover" [routerLink]="['cadastrar']"  *ngIf="pessoa.cargo === 'Admin'">
          <div class="card ">
            <img src="../../../assets/images/professor cadastrar.jpg" class="card-img-top">
            <div class="card-body cards">
              <h5 class="card-title texto">Cadastrar professor</h5>
            </div>
          </div>
        </div>

        <div class="col altura btn colHover" [routerLink]="['']" *ngIf="pessoa.cargo === 'Professor'">
          <div class="card ">
            <img src="../../../assets/images/professor cadastrar.jpg" class="card-img-top">
            <div class="card-body cards">
              <h5 class="card-title texto">Meus Dados</h5>
            </div>
          </div>
        </div>
      </div>
  </div>
  