<div class="button">
  <app-button-back></app-button-back>
</div>
<div class="container divForm">
  <div class="formulario">
    <div class="titulo">
      <h1>Cadastro de turmas</h1>
    </div>

    <form class="form form-group" [formGroup]="formulario">
      <div class="row">
        <label class="label labelNome">Turma</label>
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="turma"
          (change)="atualizaAlunos(this.formulario.value.turma)"
        >
          <option value="null" selected disabled>Selecione uma turma</option>
          <option *ngFor="let turma of turmas" [ngValue]="turma.id">
            {{ turma.numero }}
          </option>
        </select>
        <ng-container *ngIf="formulario.controls.turma.touched">
          <span *ngIf="formulario.controls.turma.errors?.required">
            <div class="alert alert-danger" role="alert">
              O campo turma é um campo obrigatório!
            </div>
          </span>
        </ng-container>
      </div>
      <div class="row">
      
        <div *ngIf="alunos; else loading">
            <div class="divTabela">
              <table class="table flex tabela" formArrayName="matriculasTurmas">
                <thead>
                  <tr>
                    <th scope="col">Aluno</th>
                    <th scope="col">Incluir</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let item of matriculasTurmas.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <td>
                      <input
                        class="input"
                        type="text"
                        readonly
                        formControlName="nome"
                      />
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  formControlName="notas">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    
          <ng-template #loading let-user> </ng-template>

      </div>
      <div class="divBotao">
        <button type="button" class="btn botao" (click)="cadastrar()" [disabled]="!formulario.valid">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
