<div class="container divContainer">
  <div class="row row-cols-1 row-cols-md-3 g-4 divCards">
    <div class="col btn colHover" [routerLink]="['buscar']"  *ngIf="pessoa.cargo === 'Professor' || pessoa.cargo === 'Admin'">
      <div class="card h-100">
        <img src="../../../assets/images/alunos buscar.jpg" class="card-img-top imagem">
        <div class="card-body">
          <div class="card-body cards">
            <h5 class="card-title texto">Buscar aluno</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col btn colHover" [routerLink]="['cadastrar']" *ngIf="pessoa.cargo === 'Professor' || pessoa.cargo === 'Admin'">
      <div class="card h-100 divCard">
        <img src="../../../assets/images/alunos novo.jpg" class="card-img-top imagem">
        <div class="card-body">
          <div class="card-body cards">
            <h5 class="card-title texto">Cadastrar aluno</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col btn colHover" [routerLink]="['meusDados']" *ngIf="pessoa.cargo === 'Aluno'">
      <div class="card h-100">
        <img src="../../../assets/images/alunos novo.jpg" class="card-img-top imagem">
        <div class="card-body">
          <div class="card-body cards">
            <h5 class="card-title texto">Meus dados</h5>
          </div>
      </div>
    </div>
  </div>
</div>
