.divContainer{
    margin-top: 5%;
    margin-bottom: 5%;
}
.divCards{
    padding: 1%;
    display: flex;
    justify-content: center;
}
.cards{
    background-color: #27376a;
    color: white;
}
.colHover{
    height: 100%;
    margin-right: 1%;
    width: 25%;
}
.colHover:hover{
    background-color: #ADD8E6;
    transition: 1s;
}
.imagem{
    height: 250px;
}
.texto{
    text-align: center;
    font-size: 17px;
}
