.margin{
    margin-top: 50px;
    margin-bottom: 150px;
}

.texto{
    text-align: center;
}

.cards{
    background-color: #27376a;
    color: white;
}
.colHover:hover{
    background-color: #ADD8E6;
    transition: 1s;
}
.altura{
    height: 25%;
    width: 20%;
    margin-right: 200px;
}
.divContainer{
    padding: 40px;
    display: flex;
    justify-content: center;
}
.imagem{
    height: 70%;
}
.colHover{
    max-width: 70%;
    height: 400px;
}

