<div class="container divContainer">
    <div class="card-group">
        <div class="card btn" [routerLink]="['buscar']">
          <img src="../../../../assets/images/aulas editar.png" class="card-img-top" alt="...">
          <div class="card-body cards">
            <h5 class="card-title texto">Buscar aulas</h5>
            <p class="card-text">Filtrar aulas.</p>
          </div>
        </div>
        <div class="card btn" [routerLink]="['cadastrar']">
          <img src="../../../../assets/images/aulas cadastrar.png" class="card-img-top" alt="...">
          <div class="card-body cards">
            <h5 class="card-title texto">Cadastrar aulas</h5>
            <p class="card-text">Cadastro de aulas.</p>
          </div>
        </div>
        <div class="card btn" [routerLink]="['minhasAulas']">
          <img src="../../../../assets/images/aulas minha aula.png" class="card-img-top" alt="...">
          <div class="card-body cards">
            <h5 class="card-title texto">Minhas aulas</h5>
            <p class="card-text">Acessar minhas aulas.</p>
          </div>
        </div>
      </div>
</div>
