<div class="button">
  <app-button-back></app-button-back>
</div>
<div class="container-home">
  <div class="content-home">
    <div
    class="card"
    [routerLink]="['buscarMateria']"
    >
      <div >
        <img
          class="img-menu"
          src="../../../../assets/images/busca_materia.png"
          alt="..."
        />
        <div class="title-card">
          <h5>Buscar Materia</h5>
        </div>
      </div>
    </div>

    <div
    class="card"
    [routerLink]="['cadastrarMateria']"
    >
      <div >
        <img class="img-menu" src="../../../../assets/images/save-materia.png" alt="..." />
        <div class="title-card">
          <h5>Cadastro de Materias</h5>
        </div>
      </div>
    </div>

    

  </div>
</div>
