.divContainer{
    padding: 3%;
    height: 72vh;
    margin-top: -1%;
    max-width: 45%;
}
.texto{
    text-align: center;
    font-size: 17px;
}
    
.cards{
    background-color: #27376a;
    color: white;
}

.imagem{
    height: 100%;
    width: 100%;
}