<div class="container divContainer">
    <div class="card-group">
        <div class="card btn" [routerLink]="['buscarMateria']">
          <img src="../../../../assets/images/busca_materia.png" class="card-img-top imagem" alt="...">
          <div class="card-body cards">
            <h5 class="card-title texto">Buscar Materia</h5>
          </div>
        </div>
        <div class="card btn" [routerLink]="['cadastrarMateria']">
          <img src="../../../../assets/images/save-materia.png" class="card-img-top imagem" alt="...">
          <div class="card-body cards">
            <h5 class="card-title texto">Cadastro de Materias</h5>
          </div>
        </div>

      </div>
</div>
