<div class="button">
  <app-button-back></app-button-back>
</div>
<div class="container-home">
  <div class="content-home">
    <div
    class="card"
    [routerLink]="['aulas']" 
    >
      <div >
        <img
          class="img-menu"
          src="../../../assets/images/aula-icon-home.jpg"
          alt="..."
        />
        <div class="title-card">
          <h5>Gerenciamento de aulas</h5>
        </div>
      </div>
    </div>

    <div
    class="card"
    [routerLink]="['notas']" 
    >
      <div >
        <img class="img-menu" src="../../../assets/images/nota.png" alt="..." />
        <div class="title-card">
          <h5>Gerenciamento de notas</h5>
        </div>
      </div>
    </div>

    <div
    class="card"
    [routerLink]="['materia']" *ngIf="pessoa.cargo === 'Admin'"
    >
      <div >
        <img class="img-menu" src="../../../assets/images/materia-home.png" alt="..." />
        <div class="title-card">
          <h5>Gerenciamento de matérias</h5>
        </div>
      </div>
    </div>

    <div
    class="card"
    [routerLink]="['turmas']" *ngIf="pessoa.cargo === 'Admin'"
    >
      <div >
        <img class="img-menu" src="../../../assets/images/turma.png" alt="..." />
        <div class="title-card">
          <h5>Gerenciamento de turmas</h5>
        </div>
      </div>
    </div>

  </div>
</div>
