.divContainer{
    padding: 5%;
}
.texto{
    text-align: center;
    font-size: 17px;
}

.cards{
    background-color: #27376a;
    color: white;
    width: 100%
}
.divCard{
    padding: 50px;
}
.colHover:hover{
    background-color: #ADD8E6;
    transition: 1s;
}
.imagem{
    height: 200px;
    width: 100%;
}
.colHover{
    width: 35%;
}
.divCards{
    display: flex;
    justify-content: center ;
}

